html, body {
    height: 90%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

p {
    font-family: "Corben", serif;
    color: #e9ecef;
}

h2 {
    font-family: "Corben", serif;
    color: #e9ecef;
}

body {
    background: url(../img/digital-8280778_1280.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.rounded-image {
    border-radius: 20px; 
}