
.carousel-item {
    height: 90vh; 
}


.carousel-item img {
    height: 100%; 
}


.footer {
    margin-top: auto; 
    width: 100%;
    background-color: #505860; 
    border-top: 1px solid #e9ecef;
}

.mikko-kuva {
    width: 100px; /* Adjust the width to your desired size */
    height: auto; /* Maintain aspect ratio */
}
