body {
    background-image: url(../img/digital-8280778_1280.jpg);
}

h1 {
    color: #e9ecef;
    font-family: "Corben", serif;
    margin-top: 150px;
}

p {
    color: #e9ecef;
    font-family: "Corben", serif;
}


#high-scores {
    margin-bottom: 250px;
    margin-right: 300px;
    border-radius: 10px;
    padding: 30px;
    background-color: #f8f9fa; 
  }
  
  #high-scores h3 {
    font-family: 'Jersey 25', sans-serif;
    color: #343a40; 
  }
  
  #high-scores-list {
    padding-left: 0;
  }
  
  #high-scores-list .list-group-item {
    background-color: #ffffff; /* Vaihda väri tarvittaessa */
    border: none;
  }
  
  #high-scores-list .list-group-item:nth-child(even) {
    background-color: #f8f9fa; /* Vaihda väri tarvittaessa */
  }
  
  #high-scores-list .list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  #high-scores-list .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

