body {
    background-image: url(../img/digital-8280778_1280.jpg);
}

h1 {
    color: #e9ecef;
    font-family: "Corben", serif;
    margin-top: 150px;
}

p {
    color: #e9ecef;
    font-family: "Corben", serif;
}


