body {
    background: url(../img/digital-8280778_1280.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 85vh;
}

h1 {
    color: #e9ecef;
    font-family: "Corben", serif;
    margin-top: 150px;
}

p {
    color: #e9ecef;
    font-family: "Corben", serif;
}


#high-scores {
  margin-bottom: 50px; 
  margin-top: 100px; 
  padding: 20px; 
  max-width: 500px; 
  margin-left: 5px; 
  margin-right: auto;
  background-color: bisque; 
  border-style: solid;
  border-radius: 10%;
}

  
  #high-scores h4 {
    font-family: 'Jersey 25', sans-serif;
    color: #343a40; 
    text-align: center;
  }
  
  #high-scores-list {
    padding-left: 0;
  }
  
  
  
  #high-scores-list .list-group-item:nth-child(even) {
    background-color: #f8f9fa; 
  }
  
  #high-scores-list .list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  #high-scores-list .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }


  #high-scores img {
    max-width: 100%;
    height: 50px;
    
    
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
