
.card-img-top bg-image {
    height: fit-content;
}


body {
    background-image: url(../img/clean-2721102_1280.jpg);
    background-size: cover;
    background-position: center;
    min-height: 85vh;
}


p {
    font-family: "Corben", serif;
    
}

h1 {
    font-family: "Corben", serif;
    color: aliceblue;
    
}

a {
    font-family: "Corben", serif;
}


