* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../img/words2.jpg);
}

.container {
  width: 440px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}



.container h2 {
  font-size: 40px;
  font-weight: 500;
  padding: 16px 25px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-family: 'Jersey 25', sans-serif;

}

.container .content {
  margin: 25px 20px 35px;
}

.content .word {
  user-select: none;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 24px;
  margin-right: -24px;
  word-break: break-all;
  text-transform: uppercase;
}

.content .details {
  margin: 25px 0 20px;
}

.details p{
  font-size: 18px;
  margin-bottom: 10px;
}

.details p b{
  font-weight: 500;
}

.content input {
  width: 100%;
  height: 60px;
  outline: none;
  padding: 0 16px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}

.content input:focus {
  box-shadow: 0px 2px 4px rbga(0,0,0,0.08);
}

.content input::placeholder {
  color: #aaa;
}

.content .buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.buttons button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  width: calc(100% / 3 - 8px);
  transition: all 0.3s ease;
  margin-top: 10px;
}

.buttons button:active{
  transform: scale(0.97);
}

.buttons .refresh-word{
  background: #6c757d;
}

.buttons .refresh-word:hover{
  background: #5f666d;
}

.buttons .check-word{
  background: #5372f0;
}

.buttons .check-word:hover{
  background: #2c52ed;
}

.buttons .start-game-btn {
  background: tomato;
}

.buttons .start-game-btn:hover {
  background: #ccc;
}

.buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

#high-scores {
  margin-bottom: 250px;
  margin-right: 300px;
  border-radius: 10px;
  padding: 30px;
  background-color: #f8f9fa; 
}

#high-scores h3 {
  font-family: 'Jersey 25', sans-serif;
  color: #343a40; 
}

#high-scores-list {
  padding-left: 0;
}

#high-scores-list .list-group-item {
  background-color: #ffffff; /* Vaihda väri tarvittaessa */
  border: none;
}

#high-scores-list .list-group-item:nth-child(even) {
  background-color: #f8f9fa; /* Vaihda väri tarvittaessa */
}

#high-scores-list .list-group-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#high-scores-list .list-group-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}